<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>STRUK PEMBELIAN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>STRUK PEMBELIAN</div>
        <hr>
        <p>Nama Buah        : <b th:text="${name}"></p></b>
        <p>Harga Perkilo    : Rp.<b th:text="${price}"></p></b>
        <p>Jumlah Kilo      : <b th:text="${kilo}"></p></b>
        <p>Harga Awal       : Rp.<b th:text="${total0}"></p></b>
        <p>Besaran Diskon(%): <b th:text="${disc}"></p></b>
        <p>Diskon Rupiah    : Rp.<b th:text="${discountrp}"></p></b>
        <p>Total Bayar      : <b th:text="${tbayar}"></p></b>
        <p>Kembalian        : <b th:text="${kembalian}"></b></p>
          
    </body>
</html>
